{% extends 'base.html' %}

{% block title %}
    Directions
{% endblock %}

{% block pageTitle %}
    Directions
{% endblock %}

{% block column1 %}
{% load static %}
    <img src="{% static "account/map.gif" %}" style="width:100%;"/>
{% endblock %}

{% block column2 %}

<p class='info'>
    Pinocchio's is located on Winthrop street right near the corner of JFK Street next to Berk's shoes.<br>
    We are 2 blocks from the Harvard Square T stop.<br>
    Do not park across the street from us! It is a tow zone!<br>
</p>

{% endblock %}

{% block body %}
{% endblock %}