{% extends 'base.html' %}

{% block title %}
    Sicilian vs. Regular
{% endblock %}

{% block pageTitle %}
    Sicilian vs. Regular
{% endblock %}

{% block body %}
<p class='info'>
<u>Sicilian Pizza:</u><br>
Our Sicilian pizza is a deep-dish or thick-crust pizza. We sell them in a 9-slice or a 15-slice size.<br>
<br>
The 9-slice size is 16" x 16" and will feed anywhere from 3 to 5 people.<br>
The 15-slice size is 28" x 16", comes in 2 large pizza boxes and can feed 6 to 9 people.<br>
<br>
<u>Regular Pizza:</u><br>
Our Regular pizza is a thin-crust or Neapolitan pizza. They come in 2 sizes: small (12" in diameter) and
large (16" in diameter).<br>
<br>
The small is suitable for 1 to 2 people while the large feeds 2 to 4 people.<br>
We can make any of our pizzas in about 10 to 15 minutes, and they can be eaten in our dining room or taken out.<br>
<br>
Oh, and always remember:<br>
Eat More Pizza!
</p>
{% endblock %}